imagefilter.cache/
imagefilter.gen/
imagefilter.hw/
imagefilter.runs/
imagefilter.sim/
min_area_pfile.tmp
*.log
*.jou
*.str
imagefilter.ip_user_files/
.sv_cache
*.xpr
imagefilter.srcs/utils_1/
blk_mem_gen_0.mif
.Xil/Vivado-21134-Samsung-SmartFridge/elab.rtd
.Xil/Vivado-21134-Samsung-SmartFridge/realtime/blk_mem_gen_0_stub.v
.Xil/Vivado-21134-Samsung-SmartFridge/realtime/dupFiles.rpt
.Xil/Vivado-21134-Samsung-SmartFridge/realtime/imagefilter_top.tcl
.Xil/Vivado-3121187-Samsung-SmartFridge/elab.rtd
.Xil/Vivado-3121187-Samsung-SmartFridge/realtime/blk_mem_gen_0_stub.v
.Xil/Vivado-3121187-Samsung-SmartFridge/realtime/dupFiles.rpt
.Xil/Vivado-3121187-Samsung-SmartFridge/realtime/imagefilter_top.tcl
